html {
  height: 100%;
  width: 100%;
}



#info-data {
  background-color: pink;
}

.navbar {
  background-color: pink;
}

.navbar-nav {
  margin-left: 20px;

}

.nav-item .nav-link {
  text-align: center;
  font-size: 16px;
  font-weight: 550;
  color: rgba(255, 255, 255, 0.712);
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}

.nav-item .nav-link:hover {
  background: white;
  color: pink;
}